/*@import url(https://fonts.googleapis.com/css?family=Amaranth);*/
@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Forum);

body {
	margin: 0;
	padding: 0;
	background: black;
	font-family: 'Forum';
	color: white;
}

#maket {
	width: 854px;
	margin: 0 auto;
}

#head-image:hover {
}

#middle {

}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#head-menu {
	float: right;
	margin-right: 0;
	font-family: 'Jura';
}

#head-menu li {
	float: left;
}

#head-menu a {
	padding: 12px 15px;
	display: block;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	font-size: 21px;
	font-weight: bold;
	color: white;
}

#head-menu a:hover {
	color: red;
}

#content {
	display: flex;
}

#content-text {
	width: 600px;
	background-color: rgb(36, 48, 87);
}

#content-menu-wrapper {
	position: relative;
}

#content-menu-wrapper > div {
	position: absolute;
	top: 0;
	right: 0;
}

#content-menu {
	width: 254px;
	position: fixed;
}

#content-menu li {
	padding: 24px 12px 0;
	font-size: 19px;
	font-weight: bold;
}