/*@import url(https://fonts.googleapis.com/css?family=Amaranth);*/
@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Forum);
@import url(https://fonts.googleapis.com/css?family=Kurale);

body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
}

img {
	display: block;
}

.img-left {
	float: left;
	margin-right: 8px;
}

.img-right {
	float: right;
	margin-left: 8px;
}

a {
	display: block;
	text-decoration: none;
	color: white;
	transition: all 0.4s ease-in-out;
}

a:hover {
	color: red;
}

#maket {
	width: 854px;
	margin: 0 auto;
}

#head-image:hover {
}

#middle {

}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#head-menu {
	float: right;
	margin-right: 0;
	font-family: 'Jura';
}

#head-menu li {
	float: left;
}

#head-menu a {
	padding: 12px 15px;
	font-size: 21px;
	font-weight: bold;
}

#content {
	display: flex;
}

#content-text {
	width: 600px;
	font-family: 'Kurale';
	font-size: 16px;
	color: rgb(209, 202, 208);
	/*background-color: rgb(36, 48, 87);*/
}

#content-menu-wrapper {
	position: relative;
	left: 600px;
}

#content-menu-wrapper > div {
	position: absolute;
	top: 0;
	right: 0;
}

#content-menu {
	width: 254px;
	position: fixed;
	font-family: 'Forum';
}

#content-menu li {
	padding: 24px 12px 0;
	font-size: 19px;
	font-weight: bold;
}